<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Game</title>

    {# Include css,js,img resources #}
    {% include "fragments/resources.html" %}

    {% block head_custom %}{% endblock %}
</head>
<body role="document">
    {# Fragment with topbar navigation links #}
    {% include "fragments/topbar.html" %}

    <div class="wy-nav-content">
        <div class="rst-content">
            <div role="main">
                <div class="section" style="display: flex; justify-content: center;">
                    <div class="windows">
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </div>
{% block script %}
{% endblock %}
</body>
</html>
